# Dependencies
node_modules/
**/node_modules/

# Builds
dist/
build/
**/dist/
**/build/

# Logs
*.log
logs/

# Environment files
.env
.env.*
**/.env
**/.env.*
**/.env.local
**/.env.*.local

# OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
